<!doctype html>
<html lang="en">
  {{- partial "head.html" . -}}
<body data-bs-spy="scroll" data-bs-target="#sidebarSubMenu" data-bs-offset="0" tabindex="0">
<div class="background-image" style="background: url(../images/{{ .Params.background }}) no-repeat center top;">
<!-- no content -->
</div>

{{- partial "header.html" . -}}

<div class="container-fluid">
  <div class="row">
    {{- partial "sidebar.html" . -}}
    <main id="main-body" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {{- partial "main.html" . -}}
    </main>
  </div>
</div>
{{- partial "script.html" . -}}
</body>
</html>