<!--Section: FAQ-->
<section id="{{ .id }}">
  <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
  <p class="text-center mb-5">
    Find the answers for the most frequently asked questions below
  </p>

  <div class="row">
    {{ range .questions }}
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i>{{ .question }}</h6>
      <p>
        {{ .answer }}
      </p>
    </div>
    {{ end }}
  </div>

</section>
<!--Section: FAQ-->