<script src="/js/feather.min.js"></script>
<script>
  feather.replace()
</script>
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QSJ75X464S"></script>
<!-- <script> -->
  <!-- window.dataLayer = window.dataLayer || []; -->
  <!-- function gtag(){dataLayer.push(arguments);} -->
  <!-- gtag('js', new Date()); -->
<!--  -->
  <!-- gtag('config', 'G-QSJ75X464S'); -->
<!-- </script> -->
{{ template "_internal/google_analytics.html" . }}

