@import "bootstrap/scss/bootstrap";

body {
  font-size: .875rem;
}

html {
  scroll-padding-top: 4rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  // bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
  .sidebar {
    bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .sidebar {
    position: fixed;
    // top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

// .navbar-wrapper {
  // position: absolute;
  // left: 0;
  // right: 0;
  // background-color: $primary;
// 
// }
// 
// .nav-fill {
  // background: #ccc;
  // float: none;
  // overflow: hidden;
// }

// .background-image {
//   background-image: url('path/to/your/image.png');
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 0.5; /* Adjust the opacity value as needed */
// }

#scroll-spy-container {
  overflow-y: scroll;
  position: relative;
}

.background-image {
  // background: url(../images/wave-1920x1080.jpg) no-repeat center top;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  height:100%;
  position:fixed;
  width:100%;
  z-index:-9999;
  opacity: 0.3;
}

.bg-feather {
  background-color: rgba(255,255,255,0.4);
  /* opacity: 1; */
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 280px; /*70%;*/
}
